.moviecard {
  font: 14px/22px "Lato", Arial, sans-serif;
  padding: 40px 0;
}

#myMovie {
  width: 200px;
  height: 300px;
}

.sub-title {
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.fotoTitulo {
  display: flex;
  justify-content: space-evenly;
  font-size: 150%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.detailed {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: rgba(70, 69, 69, 0.664);
  color: white;
}
